/**
 * @TODO Right now I'm just treating these as catch-all styles for things
 * that aren't handled by the Apple2000 blocks. As these styles evolve, let's
 * move them into their own blocks, or more ordered styles
 *
 * ~reccanti 4/18/2021
 */

/* Header Styles */

.site-header {
	padding: var(--space-1);
}

.site-header-home-link {
	display: inline-block;
	padding: var(--space-half);
	font-family: var(--font-headers);
}

/* Footer Styles */

.site-footer {
	padding: var(--space-2);
	font-size: var(--tag-font-size);
	text-align: center;
}

.Comic-image {
	/** 
   * @TODO Need to add this back to the theme. Overrides html
   * "height" attributes
   * ~reccanti 4/18/2021
   */
	height: auto;
}

/**
 * @TODO Add this component to the original Apple2000 Theme
 * ~reccanti 4/18/2021
 */
.Banner {
	background: var(--foreground-color);
	color: var(--background-color);
	padding: var(--space-half) 0;
	overflow: hidden;
}

.Banner-inner {
	font-family: var(--font-headers);
	animation: 20s infinite linear ticker;
	display: inline-block;
}

@keyframes ticker {
	from {
		transform: translateX(100vw);
	}
	to {
		transform: translateX(-100%);
	}
}
